/* Reset general para eliminar márgenes y padding por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo del contenedor general */
.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff01;
    border: 1px solid #737373;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border-color: #aaaaaa;
}

h1 {
	font-size: 14px;
    background-color: #fff;
    padding: 5px;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 5px;
}

.tab-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    background-color: #fff;
    padding: 5px;
    color: #333;
    justify-content: space-evenly;
    text-align: justify;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .tab-buttons button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    background-color: #efefef;
    font-size: 12px;
  }

  .tab-buttons button:hover {
    background-color: #e8e8e8;
  }

.tab-buttons button.invalid {
  border-color: red;
}
  
.btn-save-json {
    display: block;
    padding: 5px 5px;
    background-color: #28a745;
    color: #fff;
    border: 1px solid #737373;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Efecto hover para mejorar la interacción */
.btn-save-json:hover {
  background-color: #218838;
}

.btn-load-json {
  display: block;
  padding: 5px 5px;
  background-color: #597bec;
  color: #fff;
  border: 1px solid #737373;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Efecto hover para mejorar la interacción */
.btn-load-json:hover {
background-color: #4b67c4;
}

.btn-clean-json {
  display: block;
  padding: 5px 5px;
  background-color: #e63535;
  color: #fff;
  border: 1px solid #737373;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Efecto hover para mejorar la interacción */
.btn-clean-json:hover {
background-color: #c52e2e;
}