/* General container for the section */
.general-information-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

h2 {
	background-color: #fff;
    color: #333;
    margin-bottom: 15px;
}

h3 {
    color: #333;
    margin-bottom: 15px;
}

/* Section styling */
.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Form group styling */
.form-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input field styling */
input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Button styles */
/* Botón Add - Azul Claro */
.btn-add-member {
    background-color: #278ff5 !important; /* Azul claro */
    display: block; /* Asegura que el botón se comporte como un bloque */
    margin: 5px auto; /* Centra el botón horizontalmente y agrega margen superior */
    padding: 10px 20px; /* Ajusta el relleno del botón */
	color: #fff; /* Color de texto */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    font-size: 16px; /* Tamaño de letra */
    transition: background-color 0.3s ease; /* Transición suave para hover */
}

.btn-add-member:hover {
    background-color: #2381de !important; /* Azul más oscuro en hover */
}

/* Botón Remove - Rojo Claro */
.btn-remove-member{
    background-color: #f51115 !important; /* Color de fondo */
    display: block; /* Asegura que el botón se comporte como un bloque */
    margin: 5px auto; /* Centra el botón horizontalmente y agrega margen superior */
    padding: 10px 20px; /* Ajusta el relleno del botón */
	color: #fff; /* Color de texto */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    font-size: 16px; /* Tamaño de letra */
    transition: background-color 0.3s ease; /* Transición suave para hover */
}

.btn-remove-member:hover {
    background-color: #e61014 !important;
}

/* Botón Save - Verde */
.btn-save-geninfo{
    display: block; /* Asegura que el botón se comporte como un bloque */
    margin: 20px auto; /* Centra el botón horizontalmente y agrega margen superior */
    padding: 10px 20px; /* Ajusta el relleno del botón */
    background-color: #28a745; /* Color de fondo */
    color: #fff; /* Color de texto */
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    font-size: 16px; /* Tamaño de letra */
    font-weight: bold; /* Negrita */
    transition: background-color 0.3s ease; /* Transición suave para hover */
}

/* Efecto hover para mejorar la interacción */
.btn-save-geninfo:hover {
  background-color: #218838;
}

textarea.abstract-textarea {
    height: 100px;
    resize: none;
}
