/* General container for the section */
.general-information-container {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(146, 84, 84, 0.1);
    max-width: 510px;
    margin: 10px auto;
}

h2 {
    font-size: 14px;
    background-color: #fff;
    padding: 5px;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h3 {
    font-size: 12px;
    background-color: #fff;
    padding: 5px;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Section styling */
.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.sub-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

/* Estilo de las filas */
.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 5px;
}

/* Form group styling */
.form-group input[type="text"] {
    width: 28ch; /* Fija la anchura para que quepan 6 caracteres */
    height: auto;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-right: 1px;
    text-align: left; /* Alinea el texto a la derecha para valores numéricos */
}

.form-group input[type="email"] {
    width: 18ch; /* Fija la anchura para que quepan 6 caracteres */
    height: auto;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-right: 1px;
    text-align: left; /* Alinea el texto a la derecha para valores numéricos */
}

.form-group input[type="institution"] {
    width: 10ch; /* Fija la anchura para que quepan 6 caracteres */
    height: auto;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-right: 1px;
    text-align: left; /* Alinea el texto a la derecha para valores numéricos */
}


.form-group label {
    font-size: 10px;
    font-weight: bold;
    margin-right: 3px;
}

.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
    width: 100%;
    box-sizing: border-box;
}


/* Input field styling */
/* input[type="text"],
input[type="email"],
textarea {
    width: 12ch;  Fija la anchura para que quepan 6 caracteres 
    height: auto;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;
    margin-right: 1px;
    text-align: right;  Alinea el texto a la derecha para valores numéricos 
} */

/* Button styles */
/* Botón Add - Azul Claro */
.btn-add-member {
    display: block;
    margin-left: 32.5%;
    margin-right: 34%;
    margin-top: 8px;
    padding: 5px 5px;
    background-color: #597bec;
    color: #fff;
    border: 1px solid #737373;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-add-member:hover {
    background-color: #4b67c4;
}

/* Botón Remove - Rojo Claro */
.btn-remove-member{
    display: block;
    margin-left: 37%;
    margin-right: 38%;
    margin-top: 8px;
    padding: 5px 5px;
    background-color: #e63535;
    color: #fff;
    border: 1px solid #737373;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-remove-member:hover {
    background-color: #c52e2e;
}

/* Botón Save - Verde */
.btn-save-geninfo{
    display: block;
    margin-left: 33%;
    margin-top: 8px;
    padding: 5px 5px;
    background-color: #28a745;
    color: #fff;
    border: 1px solid #737373;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Efecto hover para mejorar la interacción */
.btn-save-geninfo:hover {
    background-color: #218838;
}

textarea.abstract-textarea {
    height: 100px;
    resize: none;
}
